body
{
    background-color: hsl(0, 0%, 88%);
    margin: 0;
}
.content-wrapper {
    margin-top: 60px;
}
.content-wrapper > .main_part
{
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr)) repeat(auto-fill, minmax(150px, 1fr)) repeat(auto-fill, minmax(150px, 1fr));
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 5px;
    grid-template-areas: 
    "asid_left article1 asid_right "
    "asid_left article2 asid_right"
    "asid_left article3 asid_right";
}
.content-wrapper .main_part .aside_left 
{
   grid-area: asid_left;
}
.content-wrapper .main_part .aside_right 
{
    grid-area: asid_right;
}
.content-wrapper .main_part .article1 
{
    grid-area: article1;
 
}
.content-wrapper .main_part .article2 
{
    grid-area: article2;
}
.content-wrapper .main_part .article3 
{
    grid-area: article3;
}
.content-wrapper .main_part aside section
{
    border: 2px;
    border-color: black;
    border-style: inset; 
    margin: 5px 0;
    background-color: rgb(33, 33, 33);
    text-align: center;  /* хай покищо буде*/
}
.content-wrapper .main_part aside 
{
    color: rgb(231, 33, 84);
}

.content-wrapper .main_part aside div ol li span {
    color: white;
}
.content-wrapper .main_part aside > div
{
    border: 2px;
    border-color: black;
    border-style: inset; 
    margin: 5px 0;
    background-color: rgb(33, 33, 33);
}
.content-wrapper .main_part aside > div h2
{
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 0;
    color: white;
    text-shadow: -1px 0 #f34639, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    font-size: 19px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.content-wrapper .main_part aside > div h3
{
    color: rgb(231, 33, 84);
    margin-left: 2em;
}
.content-wrapper .main_part aside > div p
{
    margin-left: 1em;
}
.content-wrapper .main_part aside > div figure img
{
    width: 100%;
}
.content-wrapper .main_part aside > div figure figcaption
{
    color			: white;
	font			: bold 24px/45px Helvetica, Sans-Serif;
	letter-spacing	: -1px;
	background		: rgb(0, 0, 0); /* на случай, если следующая строка не сработает */
	background		: rgba(0, 0, 0, 0.7);
    padding			: 0.22em;
    padding-left    : 1em;
    position    	: relative;
    top		        : -2.5em;
    bottom          : 0;
    z-index         : 75;
} 
.content-wrapper .main_part article img
{
    float: left;
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 3px;
    border-color: rgba(0, 0, 0, 0.5);
    margin: 3px;
}
.content-wrapper .main_part article h2
{
    text-align: center;
    color: rgb(39, 39, 39);
}
.content-wrapper .main_part article div ,.content-wrapper .main_part article span
{
   padding: 0.25em;
}

.content-wrapper .main_part .article1 ol li div {
    display: flex;
    justify-content: space-between;
}
.content-wrapper .main_part .article1 ol li div button{
    border: 1px solid blue;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
aside a:hover
{
    background-color: black;
}
aside a:focus
{
    color: #aaa;
}
aside a:focus
{
    color: #101010;
}
aside a:visited
{
    color: #aaa;
}
aside a
{
    color: white;
    text-decoration-color: white;
}

.content-wrapper .main_part .aside_right  div ol li::-moz-list-number { 
    color: rgb(231, 33, 84);
  } 
@media (max-width: 1025px) 
{
    .aside_right 
    {
        display: none;
    }
}

input[type="submit"] {
    background-color: white;
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    width: 90%;
}

input[type="text"] {
    border: #ccc;
    border-radius: 5px;
    margin: 5px 0;
    width: 90%;
    height: 25px;
}
input[type="password"] {
    border: #ccc;
    border-radius: 5px;
    margin: 5px 0;
    width: 90%;
    height: 25px;
}

.content-wrapper .main_part aside section {
    margin-bottom: 10px;
    padding: 5px 0;
}

.content-wrapper .main_part .aside_left {
    color: white;
    text-shadow: -1px 0 #f34639, 0 1px black, 1px 0 black, 0 -1px black;

}
.content-wrapper .main_part .article1 table
{
     border-collapse: collapse;
     width: 100%;
}

.content-wrapper .main_part .article1 tabletd, th {
    border: 1px solid #999;
    padding: 8px;
    background-color: #ccc
}
.content-wrapper .main_part .article1 table tr:nth-child(odd) 
{
    background-color: #ccc;
}
.content-wrapper .main_part .article1 table tr:hover 
{

    background-color: #bbb;
    border: 1px solid black;
}
aside a
{
	color: white;
}
.content-wrapper .main_part .article2 form
{
   margin: 0 25%;
}

.content-wrapper .main_part .article2 form button{
    border: 2px solid rgb(70, 0, 100);
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
       
}
