body {
    font-family: Arial;  
    font-size: 15px;  
    line-height: 22px;  
    background: #999; 
    margin:0px;
}
.gamburger1 {
    position: fixed;    
    z-index: 9999;    
    top: 0px;    
    right: 0px;
}
.gamburger1 i.gamburger3 {    
    color: #fff;    
    width: 43px;    
    height: 39px;    
    text-align: center;    
    font-size: 34px;        
    background: #1c4482;    
    padding-top: 4px;    
    cursor: pointer;    
}
.gamburger1 i.gamburger3:hover {    
    background: #fff;    
    color: #1c4482;   
}
.gamburger2 {
    overflow: hidden;
}
.gamburger3 {
    float: left;
}
.gamburger4 {
    float: left;    
    margin-right: -1000px;    
    visibility: hidden;    
    transition: all 0.3s ease;    
    -webkit-transition: all 0.3s ease;    
    background: #fff;    
    padding: 15px 25px;
}
.gamburger5 {list-style-type: none;    
    margin: 0px;    
    padding: 0px;
}
.gamburger5 li {margin-bottom: 5px;}
.gamburger5 li a {font-size: 17px;    
    color: #dc0056;    
    text-decoration: none;}
.gamburger5 li a:hover {color: #222;}